@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  font-style: serif;
  font-size:75px;
}

p {
  text-align: center;
  margin: 50px;
  margin-left: 50px;
  padding: 50px;
  display:block;
  
}

.nav-bar {
  background-color: green;
  overflow: hidden;
}
 
.nav-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar a.active {
  background-color: #04AA6D;
  color: white;
}

h2 {
  font-size:32px;
  font-style:serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;

}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  
  text-align: center;
}

.contact-me {
  background-color:white;
  overflow: hidden;
}
.contact-me a:visted {
color:purple;
} 

.contact-me a:hover {
color:blue;
}
